ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_URL=https://data-seed-prebsc-1-s1.binance.org:8545

BSC_TEST_URL=https://data-seed-prebsc-1-s1.binance.org:8545

POLYGON_TEST_URL=https://rpc-mumbai.maticvigil.com/v1/e24f8a6611e092361c76c13561805317c636a523


PUBLIC_KEY=""
PRIVATE_KEY=""

# where Hero NFT contract deployed
HERO_NFT_ADDRESS=""
WIND_ADDRESS=""